.btn-grad-anim {
  --x: 50%;
  --y: 50%;

  position: relative !important; 
  appearance: none;
  /* The magic */
  border: 2px solid transparent;
  background: linear-gradient(rgba(30, 31, 38, 0.98), rgba(30, 31, 38, 0.98)) padding-box,
    radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2)
      border-box;
}
